/* Custom properties */
:root {
	--color-primary: #212551;
	--color-secondary: #2E2825;
	--color-accent: #D9CEF4;
	--color-background: #FAF3E3;
	--color-neutral-000: #FFFFFF;
	--color-neutral-900: #252525;

	--font-family-base: 'Karla', sans-serif;
	--font-family-heading: 'Mulish', sans-serif;
}

/* Reset */
body {
	margin: 0;
	padding: 0;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

button {
	background: none;
	border: none;
	color: inherit;
}

/* Globals */
body {
	background-color: var(--color-background);
	color: var(--color-neutral-900);
	font-family: var(--font-family-base);
	font-size: 1em;
}

body.no-scroll {
	overflow: hidden;
	position: fixed;
	width: 100%;
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--font-family-heading);
	font-weight: 600;
}

main {
	margin: 1em;
}

@media (min-width: 600px) {
	main {
		margin: 1.5em;
	}
}

/* Utilities */
.btn {
	border-radius: 100px;
	padding: 0.5em 1em;
	cursor: pointer;
	transition: filter 0.2s ease-in-out;
	display: inline-block;
}

.btn__icon {
	width: 18px;
	height: 18px;
	vertical-align: middle;
}

.btn:hover {
	filter: brightness(85%);
}

.btn--primary {
	background-color: var(--color-primary);
	color: var(--color-neutral-000);
}

.btn--accent {
	background-color: var(--color-accent);
	color: var(--color-primary);
}

.btn--accent-outlined {
	border: 1px solid var(--color-accent);
	color: var(--color-accent);
}

.badge {
	display: inline-block;
	border: 1px solid var(--color-neutral-900);
	padding: 0.25em 0.75em;
	border-radius: 100px;
	font-size: 0.875em;
}

.badge--primary {
	border: 1px solid var(--color-primary);
	color: var(--color-primary);
}

.badge--accent {
	border: 1px solid var(--color-accent);
	color: var(--color-accent);
}

.main__title {
	font-size: 1.5em;
	margin-top: 1em;
	margin-bottom: 0.75em;
}

@media (min-width: 600px) {
	.main__title {
		font-size: 2em;
	}
}

/* ------------ HEADER + HERO ---------- */

/* Header and Hero */
.header-hero-container {
	height: 250px;
	padding: 1em;
	box-sizing: border-box;
}

@media (min-width: 600px) {
	.header-hero-container {
		height: 350px;
	}
}

@media (min-width: 600px) {
	.header-hero-container {
		padding: 1.5em;
	}
}

.header-hero {
	height: 100%;
	background-color: var(--color-primary);
	color: var(--color-neutral-000);
	background-image: url('./resources/blobs.png');
	background-size: cover;
	border-radius: 20px;
}

/* Header Section */
.header {
	padding: 0 1.5em;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@media (min-width: 600px) {
	.header {
		padding: 0.5em 2em;
	}
}

.logo {
	width: 140px;
	height: 70px;
	object-fit: contain;
	display: block;
}

@media (min-width: 600px) {
	.logo {
		width: 160px;
	}
}

/* Navigation */
.navigation {
	display: none;
}

@media (min-width: 600px) {
	.navigation {
		display: block;
	}
}

.navigation__list {
	display: flex;
	gap: 1.75em;
	align-items: center;
}

.navigation__list-item {
	/* hover etc */
}

/* Hamburger Navigation */
.btn--hamburger {
	color: var(--color-neutral-000);
}

@media (min-width: 600px) {
	.btn--hamburger {
		display: none;
	}
}

.navigation--hamburger {
	position: fixed;
	display: none;
	inset: 0;
	background-color: var(--color-background);
	color: var(--color-primary);
	align-items: center;
	justify-content: center;
	z-index: 10;
}

.navigation--hamburger.active {
	display: flex; 
}

@media (min-width: 600px) {
	.navigation--hamburger {
		display: none;
	}

	.navigation--hamburger.active {
		display: none; 
	}
}

.btn--close {
	position: absolute;
	top: 0.5em;
	right: 0.5em;
	font-size: 2em;
}

.navigation--hamburger__list {
	display: flex;
	flex-direction: column;
	gap: 2em;
	font-size: 1.25em;
	text-align: center;
}

/* Hero Section */
.hero {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0.5em clamp(1.75em, 5vw, 8em);
}

.hero__title {
	font-size: 2em;
}

@media (min-width: 600px) {
	.hero__title {
		font-size: 3em;
	}
}

.hero__subtitle {
	font-size: clamp(1em, 3vw, 1.5em);
	margin-top: 2em;
}

@media (min-width: 600px) {
	.hero__subtitle {
		margin-top: 1em;
	}
}


/* ------------ FOOTER ---------- */





/* ------------ HOME PAGE ---------- */

.header-hero-container--home {
	min-height: 500px;
	height: 100svh;
}

.hero--home {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 4em clamp(1.75em, 5vw, 8em);
	height: 55svh;
}

.hero__title--home {
	font-size: clamp(1.75em, 6vw, 4em);
}

/* About Section */
.about {
	margin: 2.5em 0.25em;
}

@media (min-width: 600px) {
	.about {
		margin: 4em clamp(1em, 4vw, 8em);
	}
}

@media (min-width: 800px) {
	.about {
		display: grid;
		gap: 3em;
		grid-template-columns: 3fr 2fr;
	}
}

.about__title {
	color: var(--color-primary);
}

.about__points-container {
	margin: 2em 0;
}

.about__point {
	display: flex;
	align-items: center;
}

.about__point-text {
	color: var(--color-primary);
	margin: 0.5em 0;
	font-weight: 500;
}

.about__point-icon {
	width: 30px;
	height: 30px;
	margin-right: 0.75em;
}

.about__btn {
	margin-top: 2em;
}

.about__btn-first {
	display: none;
}

@media (min-width: 800px) {
	.about__btn-first {
		display: inline-block;
	}
}
@media (min-width: 800px) {
	.about__btn-second {
		display: none;
	}
}

.about__img {
	width: 100%;
	height: auto;
	object-fit: cover;
	align-self: center;
	justify-self: center;
	max-width: 400px;
	border-radius: 20px;
	margin-top: 1em;
}

@media (min-width: 800px) {
	.about__img {
		max-width: 500px;
		margin-top: 0;
	}
}

/* Projects Section */
.projects {
	margin-top: 5em;
	padding: 5em 1.75em;
	background: var(--color-secondary);
	border-radius: 20px;
	color: var(--color-neutral-000);
}

@media (min-width: 600px) {
	.projects {
		margin-top: 7em;
	}
}

@media (min-width: 800px) {
	.projects {
		margin-top: 0;
		padding: 7em clamp(1em, 4vw, 8em);
	}
}

.projects__title {
	color: var(--color-accent);
}

.projects__cases-container {
	margin-top: 2em;
	display: grid;
	gap: 1em;
}

.projects__case {
	position: relative;
	margin-top: 2em;
	padding: 0 clamp(1em, 6vw, 12em);
	padding-top: 2em;
}

@media (min-width: 600px) {
	.projects__case {
		display: grid;
		gap: 1em;
		grid-template-columns: 3fr 2fr;
		align-items: center;
	}
}

.projects__case-title {
	color: var(--color-accent);
	font-style: italic;
	font-size: 1.25em;
}

.projects__case-description {
	max-width: 400px;
}

.projects__case-btn {
	margin-top: 1em;
	margin-bottom: 2em;
}

.projects__case-img {
	display: block;
	width: 100%;
	max-width: 300px;
	height: auto;
	margin: 1em auto 0;
	border-radius: 6px 6px 0 0;
	object-fit: cover;
}

@media (min-width: 600px) {
	.projects__case-img {
		max-width: 350px;
	}
}

.projects__case::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--color-neutral-000);
	opacity: 0.1;
	border-radius: 14px;
	z-index: 0;
}

.projects__case > * {
	position: relative;
	z-index: 1;
}

.projects-btn {
	margin-top: 3em;
}

