/* Custom properties */
:root {
	--color-primary: #212551;
	--color-secondary: #2E2825;
	--color-accent: #D9CEF4;
	--color-background: #FAF3E3;
	--color-neutral-000: #FFFFFF;
	--color-neutral-900: #252525;

	--font-family-base: 'Karla', sans-serif;
	--font-family-heading: 'Mulish', sans-serif;
}

/* Reset */
body {
	margin: 0;
	padding: 0;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

button {
	background: none;
	border: none;
	color: inherit;
}

/* Globals */
body {
	background-color: var(--color-background);
	color: var(--color-neutral-900);
	font-family: var(--font-family-base);
	font-size: 1em;
}

body.no-scroll {
  overflow: hidden;
  position: fixed;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--font-family-heading);
	font-weight: 600;
}

/* Utilities */
.btn {
	border-radius: 100px;
	padding: 0.5em 1em;
	cursor: pointer;
	transition: filter 0.2s ease-in-out;
}

.btn:hover {
	filter: brightness(85%);
}

.btn--accent {
	background-color: var(--color-accent);
	color: var(--color-primary);
}


/* ------------ HOME PAGE ---------- */

/* Header and Hero */
.header-hero-container {
	height: 250px;
	padding: 1em;
	box-sizing: border-box;
}

@media (min-width: 600px) {
	.header-hero-container {
		height: 350px;
	}
}

@media (min-width: 600px) {
	.header-hero-container {
		padding: 1.5em;
	}
}

.header-hero {
	height: 100%;
	background-color: var(--color-primary);
	color: var(--color-neutral-000);
	background-image: url('./resources/blobs.png');
	background-size: cover;
	border-radius: 20px;
}

/* Header Section */
.header {
	padding: 0 1.5em;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@media (min-width: 600px) {
	.header {
		padding: 0.5em 2em;
	}
}

.logo {
	width: 140px;
	height: 70px;
	object-fit: contain;
	display: block;
}

@media (min-width: 600px) {
	.logo {
		width: 160px;
	}
}

/* Navigation */
.navigation {
	display: none;
}

@media (min-width: 600px) {
	.navigation {
		display: block;
	}
}

.navigation__list {
	display: flex;
	gap: 1.75em;
	align-items: center;
}

.navigation__list-item {
	/* hover etc */
}

/* Hamburger Navigation */
.btn--hamburger {
	color: var(--color-neutral-000);
}

@media (min-width: 600px) {
	.btn--hamburger {
		display: none;
	}
}

.navigation--hamburger {
	position: fixed;
	display: none;
	inset: 0;
	background-color: var(--color-background);
	color: var(--color-primary);
	align-items: center;
	justify-content: center;
	z-index: 10;
}

.navigation--hamburger.active {
	display: flex; 
}

@media (min-width: 600px) {
	.navigation--hamburger {
		display: none;
	}

	.navigation--hamburger.active {
		display: none; 
	}
}

.btn--close {
	position: absolute;
	top: 0.5em;
	right: 0.5em;
	font-size: 2em;
}

.navigation--hamburger__list {
	display: flex;
	flex-direction: column;
	gap: 2em;
	font-size: 1.25em;
	text-align: center;
}

/* Hero Section */
.hero {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0.5em clamp(1.75em, 5vw, 8em);
}

.hero__title {
	font-size: 2em;
}

@media (min-width: 600px) {
	.hero__title {
		font-size: 3em;
	}
}

.hero__subtitle {
	font-size: clamp(1em, 3vw, 1.5em);
	margin-top: 1em;
}


/* ------------ HOME PAGE ---------- */

.header-hero-container--home {
	min-height: 500px;
	height: 100svh;
}

.hero--home {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 4em clamp(1.75em, 5vw, 8em);
	height: 55svh;
}

.hero__title--home {
	font-size: clamp(1.75em, 6vw, 4em);
}

/* About Section */
.about {
	margin: 4em clamp(1em, 5vw, 6em);
}
